{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <title>{{ article_detail.title }}</title>
</head>

<body>
  <div class="container">
<div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="container">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 col-sm-2">
          <!-- Widget del clima -->
          <div id="weatherWidget" class="tie-weather-widget is-animated d-none d-sm-block" title="Weather">
            <div class="weather-wrap">
              <div class="weather-forecast-day small-weather-icons">
                <div class="weather-icon">
                  <img id="weatherIcon" src="">
                </div>
              </div>
              <div class="city-data">
                <span id="cityName">Villalonga</span>
                <span id="weatherTemp" class="weather-current-temp">Temperatura</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-6 text-center">
          <!-- Título de la página -->
          <h1 class="display-3 text-center"><a class="blog-header-logo text-dark" href="{% url 'index' %}" id="titulo-principal">Villalonga News</a></h1>
        </div>
        <div class="col-4 col-sm-3 text-end">
          <!-- Botones (mostrados en pantallas medianas y grandes) -->
          <div id="collapseButtons" class="collapse d-sm-block">
            <a class="link-secondary me-3 d-none d-sm-inline" href="#" aria-label="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                viewBox="0 0 24 24">
                <title>Search</title>
                <circle cx="10.5" cy="10.5" r="7.5"></circle>
                <path d="M21 21l-5.2-5.2"></path>
              </svg>
            </a>
            <button id="modoBtn" class="btn btn-primary">Cambiar Modo</button>

          </div>
        </div>
      </div>
    </div>
  </header>
  
</div>

    
    
  
<hr>
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-center">
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Mundo' %}">Mundo</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Nacionales' %}">Nacionales</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Regionales' %}">Regionales</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Locales' %}">Locales</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Deportes' %}">Deportes</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Policiales' %}">Policiales</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Negocios' %}">Negocios</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Politica' %}">Política</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Opinión' %}">Opinión</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Tecnologia' %}">Tecnología</a>
    <a class="p-2 link-secondary" href="{% url 'category_detail' 'Varias' %}">Varias</a>
  </nav>
</div>

  <div class="container-fluid">
    <main class="mt-4">
      <div class="container">
        <h2 class="mb-3 text-center display-2">{{article_detail.title}}</h2>
        <img src="{{ article_detail.media.url }}" alt="{{ article_detail.title }}" class="img-fluid mb-3">
        <h3 class="mb-3 text-center">{{ featured_article.lead}}</h3>
        <span class="text-muted mr-2">{{ article_detail.published_date }}</span>
        <span class="badge bg-primary text-light mr-2">{{ article_detail.category}}</span>
        <span class="badge bg-danger"><i class="bi bi-fire"></i> 23</span>
        <p class="mt-4">
          {{article_detail.body}}
        </p>

        <form action="" class="mt-4">
          <div class="mb-3">
            <label for="FormControlInput1" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="FormControlInput1">
          </div>
          <div class="mb-3">
            <label for="FormControlTextarea1" class="form-label">Deja tu comentario: </label>
            <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </main>
  </div>

    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-6 mb-2">
            <h5>Visitar</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="{% url 'index' %}" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Iniciar Sesión</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Registrarse</a></li>
            </ul>
          </div>
        
        
          <div class="col-6 col-md-6 mb-2">
            <h5>Visitar</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nostros</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contacto</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Legales</a></li>
            </ul>
          </div>
      
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© Copyright 2024, Todos los derechos reservados. Powered by Ivan Fibiger</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#twitter"></use>
                </svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram"></use>
                </svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#facebook"></use>
                </svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>
</html>